.messageContainer {
    display: flex;
    margin-top: 5px;
}

.userMessage {
    background-color: #1976d25c !important;
}


.messageTime {
    align-self: end;
    font-size: x-small;
    margin-right: 5px;
}

.messageCard {
    display: flex;
    flex-direction: row-reverse;
    padding: 4px 8px;
}